@charset "utf-8";
/* header */
.header_inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 7.386%;
  /* ↑　147/1990= 0.07386 =accessから画面右までの距離=*/
  padding-left: 2.512%;
  /* ↑　50/1990= 0.02512*/
  position: absolute;
  width: 100%;
  z-index: 2;
}

.header_nav ul{
  display: flex;
  gap: 77px;
}

.header_nav ul li{
  color: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
  "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
}

/* ロゴ */
.header_logo{
  width: 227px;
}

.header_nav-sp{
  display: none;
}
.hamburger{
  display: none;
}
/* ↑pc版の時にsp用を消す */

/* ハンバーガーメニュー */
@media screen and (max-width:1000px) {
  .header_nav{
    display: none;
  }

  /* ハンバーガーメニューの枠組み */
  .hamburger{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 9999;
  }

  /* ハンバーガーメニューの3本線 */
  .hamburger span{
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 15px;
    transition: .3s;
  }
  /* 疑似要素 上下の線 */
  /* ↓上の線 */
  .hamburger span::before{
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    content: "";
    top: -12px;
    transition: .3s;
  }
/* ↓下の線 */
.hamburger span::after{
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  content: "";
  bottom: -12px;
  transition: .3s;
  }

/* hammenuが開いたとき */
.open span{
  background-color: transparent;
}
/* ↑色を透明にする */
.open span::before{
  transform: rotate(45deg);
  /* ↑45度線をつくる */
  top: 0;
  /* ↑交点を作る */
}
.open span::after{
  transform: rotate(-45deg);
    /* ↑-45度線をつくる */
  bottom: 0;
    /* ↑交点を作る */
}

/* sp用nav */
.header_nav-sp{
  position: absolute;
  /* 画面全体に黒背景を広げる */
  width: 100%;
  height: 100vh;
  background-color: #000000b3;
}
.header_nav-sp ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header_nav-sp li{
  color: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
  "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
}
}

/* メイン */
main{
  background-color: #e8d9bf;
}

/* 共通 */
.lead,#aboutus,#menu,#enent,#footer{
  max-width: 1000px;
  margin: 0 auto;
}

/* リード */
.lead{
  padding-top: 100px;
  text-align: center;
}

.copy{
  font-size: 30px;
  padding-bottom: 60px;
  line-height: 1.5;
}

.title{
  font-size: 82px;
}

.text{
  padding-top: 45px;
  padding-bottom: 50px;
  font-size: 23px;
  line-height: 1.5;
}

.text-sp{
  display: none;
}

/* ABOUT */
#aboutus .contents{
  display: flex;
  gap: 77px;
  margin: 0 auto;
  padding: 0 10px;
  align-items: center;
  /* ↑align-itemsを付けた フィードバック後に修正 */
}

#aboutus .first{
  flex-shrink: 0; 
  width: 50.251%;
  /* ↑widthをつけた フィードバック後に修正。1000/1990 */
}

#aboutus .image{
  border-radius: 0 0 50px 0;
}

#aboutus h2{
  width: 260px;
  padding-bottom: 60px;
  /* ↑padding-topではなく、bottomを付けた フィードバック後に修正 */
}

#aboutus h3{
  font-size: 44px;
  padding-bottom: 40px;
}

#aboutus p{
  line-height: 1.5;
}

#aboutus .contents-sp{
  display: none;
}
/* ↑pcの時、sp版を消す */


/* MENU */
#menu h2{
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 45px;
  width: 144px;
}

#menu .drink,.food,.sweets{
  position:relative;
}

#menu ul img{
  border-radius: 0 50px 0 0;
}

#menu h3{
  color: #d30202;
  font-size: 38px;
  position:absolute;
  bottom: -25px;
}

#menu p{
  position: absolute;
  padding-top: 40px;
}

#menu ul{
  display: flex;
  justify-content: space-between;
  gap: 45px;
  padding: 0 10px;
}

/* GALLERY */
#gallery h2{
  margin: 0 auto;
  margin-top: 200px;
  padding-bottom: 25px;
  width: 240px;
}

#gallery ul{
  display: flex;
}

#gallery li{
  width: 100vw;
}

/* ENENT */
#event h2{
  width: 165px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 45px;
}

#event .box{
  max-width: 1000px;
  margin: 0 auto;
  border: solid 3px #4f260b;
  background: #ffffff;
  padding: 35px 60px;
  text-align: center;
}

#event ul{
  text-align: left;
  display: inline-block;
}

#event li{
  display: flex;
  align-items: center;
}

#event .info{
  text-decoration: underline;
  line-height: 2;
  margin-left: 45px;
}

/* ACCESS */
#access h2{
  width: 200px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 45px;
}

#access .map{
  filter: grayscale(100%) invert(92%) contrast(83%);
  line-height: 0;
}

#access .map-sp{
  display: none;
}

/* フッター */
#footer{
  background-color: #fff;
}

#footer .footer_inner{
  display: flex;
  gap: 60px;
  padding-top: 83px;
  padding-bottom: 80px;
}

#footer .footer_logo{
  width: 220px;
}

#footer .note{
  text-align: center;
}

#footer li{
  line-height: 25px;
}

/* トップへ戻るボタン */
.toTOP{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 125px;
}

@media screen and (max-width:1100px) {
/* リード */
  .title{
    font-size: 70px;
  }

/* ABOUT */
  #aboutus h3{
    font-size: 30px;
  }
}

@media screen and (max-width:767px) {
/* リード */
  .lead {
    padding-top: 40px;
  }
  .title{
    font-size: 38px;
    padding-bottom: 30px;
  }
  .copy{
    font-size: 17px;
    padding-bottom: 30px;
    line-height: 1.5;
  }
  .text{
    display: none;
  }
  .text-sp{
    display: block;
    font-size: 16px;
    line-height: 2;
    padding-bottom: 60px;
  }

  /* AOUT */
  #aboutus .contents{
    display: none;
  }
  #aboutus .contents-sp{
    display: block;
  }
  #aboutus h2{
    width: 160px;
    margin: 0 auto;
    padding-bottom: 18px;
  }
  #aboutus h3{
    font-size: 36px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 2.607%;
    /* ↑20/767 */
    line-height: 1.5;
  }
  #aboutus p{
    font-size: 16px;
    padding-left: 2.607%;
    padding-right: 2.607%;
  }

/* MENU */
  #menu h2{
    width: 83px;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  #menu ul{
    display: block;
    padding-left: 4.954%;
    padding-right: 4.954%;
  }
  #menu ul li:nth-child(n+2){
    margin-top: 180px;
  }
  #menu p{
    font-size: 17px;
    position: absolute;
    padding-top: 40px;
    line-height: 2;
  }
  #menu h3{
    font-size: 40px;
  }

/* GALLERY */
  #gallery h2{
    width: 140px;
    padding-bottom: 20px;
  }

/* EVENT */
  #event h2{
    width: 95px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  #event .box{
    padding: 20px 30px;
    width: 90%;
  }
  #event li{
    /* ↓長文3点リード */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  #event ul li:nth-child(2){
    margin: 30px auto;
  }
  #event .info {
    margin-left: 0;
  }

/* ACCESS */
  #access .map-sp{
    display: block;
    filter: grayscale(100%) invert(92%) contrast(83%);
    line-height: 0;
  }
  #access .map{
    display: none;
  }
  #access h2{
    width: 120px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

/* フッター */
  #footer .footer_inner {
    display: block;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 2.607%;
  }
  #footer .footer_logo{
    padding-bottom: 35px;
  }
  #footer li{
    line-height: 2;
  }

/* トップへ戻るボタン */
.toTOP{
  width: 80px;
}
}

/* slickスタイルの設定 */
.slick-dots{
  bottom: 0;
}
.slick-dots li button:before{
  color: #fff;
}
.slick-dots li.slick-active button:before{
  color: #fff;
}
.slick-dotted.slick-slider{
  margin-bottom: 0;
}

/* ライトボックス */
.lb-data .lb-caption{
  color: #fff;
}